
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  background: white;
  transition: all 0.5s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: center left;
  background-image: linear-gradient(to bottom, #f6f9fa, #f6f9fa);
  border-radius: 0 5% 5% 0 / 0 5% 5% 0;
  box-shadow: -15px -15px 15px white, 5px 4px 11px rgba(108, 130 ,168,0.5%);
  color: #e0798e;
  font-size: 12px;
  h4{
    color: #4986b2;
    font-size: 18px;
  }

  h5{
    font-size: 16px;
    color: #2c3e50;
  }
  .data{
    color: #e0798e;;
  }
  .dailyVibe{
    color: #2c3e50;
  }
  .budgets{
    box-shadow: -7px -7px 13px #4986b20a, 5px 4px 11px rgba(120, 157, 183 , 0.3);
    width: 80%;
    background-image: linear-gradient(-55deg, #f6f9fa , #f6f9fa );
    margin: 0 auto;
    border-radius: 25px;
    padding-bottom: 10%;
  }
  .journalBttn{
    border: none;
    box-shadow: 4px 2px 6px rgba(121, 167, 214, 0.5);
  }
}

.sidebar-active {
  transform: rotateY(0deg);
}

.exit{
  display: none;
}

@media only screen and (max-width: 768px){
  .exit{
    display: block;
  }
  .sidebar {
    margin-left: -250px;
    transform: rotateY(100deg);
  }
}

.dashboard{
  position: relative;
  width: 75%;
  left: 20%;
  overflow: hidden;
  @media only screen and (max-width: 750px ){
    width: 100%;
    left: 0;
  }
}

.item{
  border-radius: 15px;
}

.page-link{
  background-color: #1f7da2;
}

.page-item.active .page-link {
  background-color: #2c3e50;
}

.page-item.disabled .page-link{
  background-color: #ffffff;
  color: #737c7f;
}

#dashboard{
  min-height: 100vh;
}

#searchList{
  width: 30vw;
  position: relative;
  left: 5%;
  @media only screen and (max-width: 750px ){
    width: 80vw;
    position: relative;
    right: 15%;
  }
}

#results{
  @media only screen and (max-width: 576px) {
    flex-flow: column
  }
}

.card{
  border-radius: 25px;
  height: 120vh;
  padding: 5% 2%;
  border: none;
  box-shadow: -7px -8px 20px #ffffff40, 15px 15px 15px rgba(158, 182, 225, 0.2);
}

.brand{
  color:#4986b2;
}

.nutrition{
  overflow-y: scroll;
  height: 120vh;
  @media only screen and (max-width: 750px ){
    width: 80vw;
    position: relative;
    left: 10%;
  }
}

.loader {
  border-top: 5px solid #1f7da2;
  border-right: 5px solid #9ABA19;
  border-left: 5px solid #e0798e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nutrition::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.nutrition h3 {
  font-size: 1.25rem;
}
.nutrition h4 {
  font-size: 1rem;
}
.nutrition h5 {
  font-size: 0.75rem;
}

.badge {
  font-size:0.75rem;
  font-weight: bold;
}

.dropdown {
  font-size: 0.8rem;
}

.button {
  font-size: 0.8rem;
}

.profile{
  h3{
    color:#1f7da2;
    font-size: 16px;
  }
  h4{
    padding-bottom: 10px;
    border-bottom: 1px solid #e0798e;
  }
  i{
    font-size: 12px;
    padding-left: 5%;
  }

  .profile-inputs{
    width: 40%;
  }
}