.marketing{
  background: linear-gradient(147.75deg, #FFFFFF 34.63%, rgba(255, 255, 255, 0) 90.04%), url("../../assets/hero.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 100% 60%;
  @media only screen and (min-width:800px) {
    background-size: cover;
  }
}