@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;600&display=swap');

$link-color: #363537;
$font-family-sans-serif: 'Muli', sans-serif;
$light: #fff;

.img-responsive {
    max-width: 75%; 
    max-height: auto; 
  }

@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";
@import "./components/Marketing//marketing";

