@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;600&display=swap');

$link-color: #363537;
$font-family-sans-serif: 'Muli', sans-serif;
$light: rgb(240,240,240);

.justify {
  justify-content: space-evenly
}

.img-responsive {
  max-width: 100%; 
  max-height: auto; 
}

.lp-img{
  width: 50%;
  height: auto;
  max-width: 75%;
  max-height: 450px;
}

.pb-6{
  padding-bottom: 7rem;
}
.mt-6{
  margin-top: 9rem;
}
@import "~bootswatch/dist/flatly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";
@import "./components/Marketing//marketing";

